:root {
  --surface-primary: #f6f8fa;
  --main-surface-primary: #ffffff;
  --text-primary: #1f2328;
  --text-link: #0068b7;
  --border-primary: #c0c7ce;
  --border-secondary: #d1d9e0;
}

body {
  background: var(--surface-primary);
  color: var(--text-primary);
  font-family: 'Verdana', 'BIZ UDGothic', sans-serif;  /* 'Trebuchet MS' */
  line-height: 1.3;
  font-size: 0.9em;
  letter-spacing: 0.015em;
  margin: 0;
}
input, textarea, button {
  border: 1px solid var(--border-primary);
  color: var(--text-primary);
  font-family: 'Verdana', 'BIZ UDGothic', sans-serif;  /* 'Trebuchet MS' */
  line-height: 1.3;
}
.break {
  word-break: break-all;
}
a, a:visited {
  color: var(--text-link);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a.note {
  vertical-align: super;
  font-size: 0.75em;
}
a.asis::after {
  content: attr(href);
}
span.u {
  text-decoration: underline;
}

/*----- Heading styles -----*/
h1, h2, h3, h4 {
  margin: 0.6em 0 0.5em;
}
h1, h2 {
  font-weight: normal;
  padding-bottom: 0.15em;
  border-bottom: 1px solid var(--border-primary);
}
h2 {
  margin-top: 0.75em;
}
h3, h4 {
  margin-top: 0.9em;
}
div.long-title > h1 {
  line-height: 1.15;
}
h5 {  /* for sidebar */
  margin: 1.3em 0 0.5em;
  font-size: 1em;
  font-weight: normal;
  padding-bottom: 0.3em;
  border-bottom: 1px solid var(--border-primary);
}

div#smartphone-header {
  display: none;
}
div#sidebar {
  /* 指定サイズ内でパディングを取るよう指示 */
  box-sizing: border-box;
  flex-basis: 200px;
  max-width: 200px;
  top: 0;
  position: sticky;
  padding: 20px;
  font-size: 0.93em;
  word-break: break-all;
}
div#sidebar p {
  margin: 0 0 0.3em;
}
.container {
  max-width: 100%;
  display: -webkit-flex;
  display: flex;
  /* 規定値の stretch から変更し子要素の高さを揃えず上揃えに */
  align-items: flex-start;
}
.main {
  margin: 0 5px 0 0;
  flex-basis: 700px;
  max-width: 700px;
}
.main .item {
  margin: 15px 0 15px 0;
  padding: 0 20px 20px;
  background: var(--main-surface-primary);
  border: 1px solid var(--border-primary);
}
.item > img, td > img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

table {
  border-collapse: collapse;
}
th, td {
  border: 1px solid var(--border-primary);
  padding: 5px 10px;
  vertical-align: top;
}
p {
  margin: 0 0 0.75em;
}
p>ul, p>ol {
  margin: 0.3em 0;
}
p.indent {
  padding-left: 1em;
}
ul, ol {
  padding-left: 1.5em;
}
ol.ref {
  counter-reset: li;
  padding-left: 2.25em;
}
ol.ref>li {
  position: relative;
  list-style: none;
  word-break: break-all;
}
ol.ref>li:before{
  position: absolute;
  left: -2.25em;
  counter-increment: li;
  content: '['counter(li)']';
}
ol.parenthesis {
  counter-reset: li;
  padding-left: 2.25em;
}
ol.parenthesis>li {
  position: relative;
  list-style: none;
}
ol.parenthesis>li:before{
  position: absolute;
  left: -2.25em;
  counter-increment: li;
  content: '('counter(li)')';
}
ol.none {
  counter-reset: li;
  padding-left: 0;
}
ol.none>li {
  position: relative;
  list-style: none;
}
ol.none>li:before{
  position: absolute;
  content: '';
}
ol.note {
  counter-reset: li;
  padding-left: 4.5em;
  font-size: 88%;
}
ol.note>li {
  position: relative;
  list-style: none;
}
ol.note>li:before {
  position: absolute;
  left: -4.5em;
  counter-increment: li;
  content: '[注釈'counter(li)']';
}
div.categories {
  background: var(--surface-primary);
  border: 1px solid var(--border-primary);
  margin: 0.5em 0;
  padding: 0.5em;
}
div.categories:before {
  content: 'カテゴリ： ';
}
pre {
  background: #f3f3f3;
  border: 1px solid var(--border-primary);
  padding: 1em;
  margin: 1em 0;
  white-space: pre;
  word-wrap: normal;
  overflow: auto;
}
pre.inline {
  display: inline;
  padding: 0.2em 0.3em;
}
pre.console {
  color: #f3f3f3;
  background: #4d4d4d;
}
pre span.keyword, pre span.builtin {
  color: #006eb0;
}
pre span.keyword {
  font-weight: bold;
}
pre span.numeric {
  color: #e07c0b;
}
pre span.literal, pre span.literal>span {
  color: #b7282e;
  font-weight: normal;
}
pre span.comment, pre span.comment>span {
  color: #3a924c;
  font-weight: normal;
}
div.prop {
  border: 1px dotted var(--border-primary);
  padding: 1.25em 1em 1em 1em;
  margin: 1.25em 0;
  position: relative;
}
div.prop>div.header {
  margin-bottom: 0.5em;
  position: absolute;
  top: -0.75em;
  background-color: var(--main-surface-primary);
  padding: 0 0.5em;
  font-weight: bold;
}
span.index-ts {
  font-size: 88%;
}
ul.ref-list>li {
  margin: 0 0 0.5em;
  list-style: none;
  text-indent: -2em;
}
div.flex {
  display: flex;
  margin: 0.5em 0;
  gap: 0.5em;
}
div.flex>div {
  flex: 1;
  border: 1px solid var(--border-primary);
  padding: 0.5em;
}
pre[class*="language-"] {
  border: 0 !important;
}
pre[class*="language-"]::before, pre[class*="language-"]::after {
  box-shadow: none !important;
}
code[class*="language-"] {
  border: 1px solid var(--border-primary) !important;
  box-shadow: none !important;
  border-radius: 0.3em !important;
  font-size: 0.9em !important;
  color: var(--text-primary) !important;
}
pre.language-text>code {
  color: #fff !important;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  background: #394149 !important;
  /* background-image: linear-gradient(#444 50%, #333 50%) !important; */
}
div.btn {
  cursor: pointer;
  color: #0068b7;
  text-decoration: none;
}
div.btn:hover {
  text-decoration: underline;
}
div.btn:after {
  content: ' (クリックして表示・非表示)';
}
@media screen and (max-width: 900px) {
  div#sidebar {
    width: 130px;
  }
  .main {
    max-width: calc(100% - 130px);
  }
}
@media screen and (max-width: 540px) {
  body {
    /* URLだけ禁則処理解除するのが望ましいがさしあたり */
    word-break: break-all;
    font-size: 86%;
  }
  h1, h2 {
    /* 見出しは目立つので禁則処理する */
    word-break: normal;
  }
  div#smartphone-header {
    display: block;
    padding: 10px 20px 5px;
    font-size: 86%;
  }
  div#sidebar {
    display: none;
  }
  .main {
    margin: 0 5px 0 5px;
    max-width: calc(100% - 10px);
  }
  .main .item {
    margin: 0 0 15px 0;
  }
}
