:root {
  --text-link: #047ac5;
}
:root[data-mode='dark'] {
  --text-link: #4ec7f2;
}
div.categories {
  background: var(--summary-surface);
  border: 1px solid var(--border);
  margin: 0.5em 0 1.0em;
  padding: 0.75em 0.75em 0.75em;
}
h2.logo {
  color: var(--text-link);
}
a.index-link:before {
  content: 'Cookiepedia ';
}
a.index-link:after {
  color: var(--text-link);
  content: 'Î±-version';
}
div#sidebar > a.index-link:before, div#sidebar > a.index-link:after {
  display: block;
}
span.version {
  white-space: preserve nowrap;
  color: var(--text-link);
}
