<!DOCTYPE HTML>

<html lang="ja">
<head>
<meta charset="utf-8"/>
<meta content="width=device-width, initial-scale=1" name="viewport"/>
<title>Cookipedia α-version</title>
<link href="css/style.css?v=2025-12-09" rel="stylesheet" type="text/css"/>
<link href="css/cookipedia.css?v=2025-12-09" rel="stylesheet" type="text/css"/>
<script data-is-index="true" data-repo="cookipedia" defer="" id="app" src="funcs.js?v=2025-12-14"></script>
</head>
<body>
<div class="container">
<div id="sidebar">
<h5 id="bookmark">外部リンク</h5>
<p><a href="https://cookie-box.info/cookiepad/index.html">Cookiepad</a></p>
<p><a href="https://cookie-box.hatenablog.com/">はてなブログ</a></p>
<p><a href="https://qiita.com/CookieBox26">Qiita</a></p>
<h5>便利ツール</h5>
<p><a href="utils/color_palette.html">カラーパレット</a></p>
</div>
<main class="main">
<div id="smartphone-header"></div>
<div class="item">
<h1 class="title">Welcome to Cookipedia <span class="version">α-version</span></h1>
Cookipedia <span class="version">α-version</span> はクッキーが自分のために書き溜めている百科事典風のノートです。各記事には網羅性はなく、主観が含まれており、しばしば未完成です。何かありましたら<a href="https://github.com/CookieBox26/cookipedia">リポジトリ</a>の <a href="https://github.com/CookieBox26/cookipedia/issues">Issues</a> またはその他の連絡方法でご連絡ください。

<h2>更新日が新しい記事</h2>
{{ list_article_recent }}

<h2>カテゴリ一覧</h2>
現在 {{ n_category }} カテゴリがあります。
{{ list_category }}

<h2>記事一覧</h2>
現在 {{ n_article }} 本の記事があります。
{{ list_article }}

</div>
</main>
</div>
</body>
</html>
