<!DOCTYPE HTML>

<html lang="ja">
<head>
<meta charset="utf-8"/>
<meta content="width=device-width, initial-scale=1" name="viewport"/>
<title>Category:{{ category_name }} - Cookipedia</title>
<link href="../../css/style.css?v=2025-10-18" rel="stylesheet" type="text/css"/>
<link href="../../css/cookipedia.css?v=2025-10-18" rel="stylesheet" type="text/css"/>
<script data-lang="ja" data-mainpage="false" data-repo="cookipedia" defer="" id="app" src="../../funcs.js?v=2025-10-18"></script>
</head>
<body>
<div class="container">
<div id="sidebar"></div>
<main class="main">
<div id="smartphone-header"></div>
<div class="item">
<h1>Category:{{ category_name }}</h1>
<h2>カテゴリ「{{ category_name }}」にある記事</h2>
{{ n_articles }} 本の記事がこのカテゴリに属しています。
{{ list_article }}

</div>
</main>
</div>
</body>
</html>
